<!DOCTYPE html>
<html>
<head>

  <link rel="stylesheet" href="/assets/stylesheets/done.css">
  <style>
    img {
      border-radius: 50%;
      width: 50px;
      height: 50px;
      margin-top: 8px;
    }

    p {
      text-align: left;
      margin-left: 3px;
      margin-right: 3px;
    }
  </style>
</head>
<body>
  <div class="box">
    <img src="http://image.sportsseoul.com/2017/05/24/news/20170524182406_030251736985f0292cec8346546c72d0.jpg" alt="Person's picture">
    <h3>Buyer Name</h3>

    <h6>Dining Name</h6>
    <p>Meet Buyer/Seller at the Desk. If your transaction is finished, press Complete to go back to home.</p>
    <hr>
    <button type="button"> Complete </button>

  </div>
</body>
</html>
