<h1>New Post</h1>
<div>
  <form action="create">
    <label>Dining Hall: </label>
    <input type="text" name="location"/><br />
    <label># of People: </label>
    <input type="text" name="number"><br />
    <label>Price: </label>
    <input type="text" name="price"/><br />
    <input type="submit" />
  </form>
</div>
