////for navbar
.components {
  color: white;
}
.navbar-brand {
  color: #FFD346;
}
.sign-out {
  color: black;
  border-style: solid;
  border-color: white;
  border-width: 2.5px;
  padding: 5px 5px
}


////for dininghall page
.dininghall {
  width: 100%;
}

.diningimage{
  width: 100%;
}

.hori{
  display: flex;
  width: 80%;
}

.outwrap{
  width: 100%;
  background-color: grey;

}

.horionly{
  display: flex;
}
